@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #000;
  color: white;
  font-family: "GothamPro";
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .item {
  max-width: 1100px;
}
@media (min-width: 600.01px) and (max-width: 1199.98px) {
  .container .item {
    width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 600px) {
  .container .item {
    width: 100%;
    padding: 0 10px;
  }
}
.container .item__name {
  margin-top: 160px;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1199.98px) {
  .container .item__name {
    justify-content: center;
  }
}
.container .item__name p {
  display: block;
  font-size: 50px;
  color: #FFC501;
  padding: 20px 100px;
  border: 2px solid #FFC501;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  .container .item__name p {
    font-size: 30px;
    padding: 15px 20px;
    width: -moz-max-content;
    width: max-content;
  }
}
.container .item__media {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .container .item__media {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
}
.container .item__media .swiper {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .container .item__media .swiper {
    width: 90%;
    height: 300px;
    margin: 0 0 50px 0;
  }
}
.container .item__media .swiper .swiper-button-prev, .container .item__media .swiper .swiper-button-next {
  color: #ffc800;
}
.container .item__media .swiper .swiper-slide {
  background-color: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.container .item__media .swiper .swiper-slide img {
  height: 100%;
}
.container .item__media .video {
  box-shadow: 0 0 10px red;
  width: 580px;
  max-height: 400px;
  background-color: #fff;
}
@media (max-width: 1199.98px) {
  .container .item__media .video {
    max-width: 90%;
  }
}
.container .item__media .video iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.container .item .info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media (max-width: 1199.98px) {
  .container .item .info {
    align-items: center;
    flex-direction: column;
  }
}
.container .item .info .properties {
  width: 50%;
  display: flex;
  margin-right: 40px;
}
@media (min-width: 600.01px) and (max-width: 1199.98px) {
  .container .item .info .properties {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container .item .info .properties {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 40px 0;
  }
}
.container .item .info .properties__header {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: 30px;
  text-transform: uppercase;
  color: #FEC601;
  border: 2px solid #FEC601;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 0;
}
@media (max-width: 1199.98px) {
  .container .item .info .properties__header {
    writing-mode: horizontal-tb;
    transform: scale(1);
    height: -moz-min-content;
    height: min-content;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 600px) {
  .container .item .info .properties__header {
    writing-mode: horizontal-tb;
    transform: scale(1);
    height: -moz-min-content;
    height: min-content;
    font-size: 20px;
    margin: 0 0 50px 0;
  }
}
.container .item .info .properties__content {
  max-width: 100%;
  font-family: "Raleway Medium", serif;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .container .item .info .properties__content {
    max-width: none;
  }
}
.container .item .info .properties__content .prop__header {
  font-size: 25px;
  color: #EB431F;
}
@media (max-width: 600px) {
  .container .item .info .properties__content .prop__header {
    text-align: center;
  }
}
.container .item .info .properties__content .prop__container {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 600px) {
  .container .item .info .properties__content .prop__container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.container .item .info .properties__content .prop__container .prop-item {
  margin: 10px 10px;
  width: -moz-min-content;
  width: min-content;
  text-transform: lowercase;
  height: 36px;
  padding: 0 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
}
.container .item .info .extra-info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .container .item .info .extra-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
  }
}
.container .item .info .extra-info .material {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .item .info .extra-info .material__header {
  font-size: 26px;
  color: #FFC501;
  border: 2px solid #FFC501;
  border-radius: 10px;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .container .item .info .extra-info .material__header {
    font-size: 20px;
  }
}
.container .item .info .extra-info .material__content {
  margin: 20px 0;
  font-size: 22px;
  white-space: pre-wrap;
}
@media (max-width: 600px) {
  .container .item .info .extra-info .material__content {
    width: 90%;
  }
}
.container .item .info .extra-info .feature-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .container .item .info .extra-info .feature-container {
    width: 90%;
  }
}
.container .item .info .extra-info .feature-container .feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container .item .info .extra-info .feature-container .feature .left {
  display: flex;
  flex-direction: column;
}
.container .item .info .extra-info .feature-container .feature .left__header {
  font-family: "Raleway ExtraBold", serif;
  font-size: 22px;
  margin-bottom: 10px;
}
.container .item .info .extra-info .feature-container .feature .left__content {
  font-size: 14px;
}
.container .item .info .extra-info .feature-container .feature__circle {
  font-family: "Raleway ExtraBold", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0 10px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 30px;
  border: 2px solid #FFC501;
}
.container .item .order {
  margin-top: 80px;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .container .item .order {
    flex-direction: column;
  }
}
.container .item .order__price {
  font-size: 65px;
  color: #FEC601;
}
@media (max-width: 600px) {
  .container .item .order__price {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
.container .item .order__btn {
  font-size: 40px;
  color: #F94B1C;
  background-color: #000;
  text-transform: uppercase;
  width: 500px;
  border: 4px solid #FFC501;
  padding: 20px 0;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .container .item .order__btn {
    font-size: 30px;
    width: -moz-min-content;
    width: min-content;
    padding: 20px 20px;
  }
}
.container .item .order__btn:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.6) 30%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.6) 70%);
  -webkit-mask-size: 250%;
  animation: wave 2s infinite;
}

.footer {
  background-color: #fec601;
  padding: 30px 30px 30px 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.footer .logo {
  margin-right: 40px;
}
.footer .logo img {
  height: 80px;
}
.footer .footer-container {
  font-weight: 800;
  font-size: 18px;
  color: #000;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-gap: 20px;
  line-height: 1.35;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
  justify-items: stretch;
  align-items: stretch;
}
@media (max-width: 1199.98px) {
  .footer .footer-container {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .footer .footer-container {
    padding: 20px;
  }
}
.footer .links {
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
}/*# sourceMappingURL=style.css.map */