@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import "_nullstyle";

@mixin Title {
  font-size: 40px;
  color: #fec601;
  font-family: "GothamPro";
  @include fluidFontSize(24px, 40px, 880px, 1280px, 35px);
}

@mixin H2 {
  font-size: 50px;
  color: #eb431f;
  font-family: "GothamPro";
  @include fluidFontSize(22px, 40px, 880px, 1280px, 30px);
}

@mixin mainText {
  font-size: 30px;
  line-height: 150%;
  font-family: "GothamPro Light";
  @include fluidFontSize(16px, 22px, 880px, 1280px, 18px);
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  font-size: $f-min !important;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback !important;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px) !important;
  }
  @media (min-width: $w-max) {
    font-size: $f-max !important;
  }
}

$navbar-height: 80px;
$hamburger-width: 30px;

body {
  background-color: #000;
  color: white;
  font-family: "GothamPro";
}

.page {
  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: calc(100% + 100px);
  margin-top: 80px;height: max-content;
  .header {
    width: 100%;
    //height: 800px;
    box-shadow: inset 0px 11px 8px -10px rgba(249, 75, 28, 0.32),
      inset 0px -11px 8px -10px rgba(249, 75, 28, 0.6);
    // margin-bottom: 60px;
    .headerContainer {
      width: calc(100vw - 100px);
      max-width: 1100px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media (max-width: 700px) {
        flex-direction: column;
      }
      &__logo {
        width: 30%;
        height: 100%;
        @media (max-width: 700px) {
          width: 46%;
        }
        .logo {
          width: 100%;
          height: 100%;
        }
      }
      &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        margin: 50px 0px;
        @media (max-width: 700px) {
          order: -1;
          margin-bottom: 0px;
          width: 100%;
        }
        .headerTitle {
          margin-bottom: 60px;
          font-weight: 500;
          line-height: 150%;
          font-family: "GothamPro";
          color: #fec601;
          @include fluidFontSize(20px, 36px, 880px, 1280px, 27px);
          @media (max-width: 1000px) {
            margin-bottom: 3vw;
          }
        }
        .headerDescription {
          font-weight: 400;
          line-height: 150%;
          font-family: "GothamPro Light";
          @include fluidFontSize(16px, 24px, 880px, 1280px, 18px);
        }
      }
    }
  }
  .sales {
    box-shadow: inset 0px -11px 8px -10px rgba(249, 75, 28, 0.6);
    width: 100%;
    .salesContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100vw - 100px);
      max-width: 1100px;
      margin: auto;
      @media (max-width: 780px) {
        flex-direction: column;
      }
      .salesImage {
        width: 70%;
        height: 100%;
        padding: 20px 0px;
        @media (max-width: 780px) {
          position: absolute;
          width: 55%;
          padding: auto;
        }
        img {
          width: 100%;
          @media (max-width: 780px) {
            filter: blur(2px);
          }
        }
      }
      .salesList {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 2;
        @media (max-width: 780px) {
          order: -1;
        }
        .sale {
          display: flex;
          flex-direction: row;
          align-items: center;

          &__fire {
            width: 6vw;
          }
          &__text {
            margin-left: 20px;
            font-family: "GothamPro Light";
            @include fluidFontSize(16px, 28px, 880px, 1280px, 20px);
          }
        }
      }
    }
  }
  .advantages {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 100px);
    max-width: 1100px;
    margin-top: 100px;
    // margin: 0 8.5%;
    @media (max-width: 780px) {
      margin-top: 40px;
    }
    &__title {
      @include Title;
      margin-bottom: 70px;
      width: max-content;
      text-align: center;
      border: 2px solid #fec601;
      padding: 15px 20px;
      border-radius: 10px;
      @media (max-width: 780px) {
        margin-bottom: 20px;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      .advantageBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 80px;
        @media (max-width: 780px) {
          flex-direction: column;
          margin-bottom: 40px;
        }
        &:nth-child(2) {
          .advantageBlock__imageContainer__back {
            width: 250px;
            height: 250px;
            left: 60px;
            bottom: -70px;
            @media (max-width: 1000px) {
              width: 180px;
              height: 180px;
              bottom: -20px;
            }
            @media (max-width: 780px) {
              width: 150px;
              height: 150px;
            }
            @media (max-width: 500px) {
              width: 120px;
              height: 120px;
            }
          }
        }
        &:nth-child(2n) {
          .advantageBlock__imageContainer {
            order: -1;
            @media (max-width: 780px) {
              order: initial;
            }
          }
        }
        &__textContainer {
          width: 47.5%;
          @media (max-width: 780px) {
            width: 100%;
          }
          &__title {
            @include H2;
            margin-top: 40px;
            margin-bottom: 30px;
            @media (max-width: 1000px) {
              margin-top: 20px;
              margin-bottom: 20px;
            }
          }
          &__text {
            @include mainText;
            margin-bottom: 30px;

            @media (max-width: 1000px) {
              margin-bottom: 20px;
            }
          }
        }
        &__imageContainer {
          width: 47.5%;
          position: relative;
          @media (max-width: 780px) {
            width: 100%;
            height: 50vw;
          }
          &__back {
            position: absolute;
            width: 180px;
            height: 180px;
            object-fit: cover;
            bottom: -15px;
            left: 30px;
            @media (max-width: 1000px) {
              width: 140px;
              height: 140px;
            }
            @media (max-width: 500px) {
              width: 100px;
              height: 100px;
            }
          }
          &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .youtube {
      width: 100%;
      height: 40vw;
      margin-top: 100px;
      @media (max-width: 780px) {
        margin-top: 0px;
        height: 50vw;
      }
    }
  }
  .contactWithUs {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-top: 160px;
    @media (max-width: 780px) {
      margin-top: 50px;
    }
    &__title {
      @include Title;
      display: flex;

      align-self: center;
      margin-bottom: 100px;
      @media (max-width: 780px) {
        margin-bottom: 20px;
      }
    }
    &__formContainer {
      display: flex;
      .formBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        width: 100%;
        @media (max-width: 780px) {
          gap: 30px;
        }
        &__input {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #f94b1c;
          background-color: #000000;
          color: white;
          @include H2;
          @include fluidFontSize(18px, 40px, 880px, 1280px, 30px);
          padding: 10px 0;
        }
      }
    }
    &__orderButton {
      @include Title;
      display: flex;
      align-self: flex-end;
      border: 2px solid #fec601;
      padding: 15px 20px;
      border-radius: 20px;
      width: 270px;
      margin-top: 60px;
      margin-bottom: 160px;
      @media (max-width: 780px) {
        margin-top: 40px;
        align-self: center;
      }
      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.footer {
  background-color: #FEC601;
  padding: 30px 30px 30px 10px;
  width: 100%;
  // height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
  }
  .logo {
      margin-right: 40px;
      img{
          height: 80px;
      }
  }
  .footer-container {
      font-weight: 800;
      font-size: 18px;
      color: #000;
      display: grid;
      align-self: center;
      justify-content: center;
      grid-gap: 20px;
      line-height: 1.35;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
      justify-items: stretch;
      align-items: stretch;

      @media (max-width: 1199.98px) {
          font-size: 16px;
      }

      @media (max-width: 800px) {
          padding: 20px;
      }

  }
  .links {
      display: grid;
      grid-gap: 15px;
      grid-auto-flow: column;
      &__item {

      }
  }
}