@font-face {
    font-family: "GothamPro";
    src: url('/fonts/GothamPro.ttf') format("truetype");
}

@font-face {
    font-family: "GothamPro Light";
    src: url('/fonts/GothamPro-Light.ttf') format("truetype");
}

@font-face {
    font-family: "GothamPro Black";
    src: url('/fonts/GothamPro_Black.ttf') format("truetype");
}

@font-face {
    font-family: "Raleway Medium";
    src: url('/fonts/Raleway-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Raleway ExtraBold";
    src: url('/fonts/Raleway-ExtraBold.ttf') format("truetype");
}

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*--------------------*/


$navbar-height: 80px;
$hamburger-width: 30px;

body {
    background-color: #000;
    color: white;
    font-family: 'GothamPro';
}

// .navbar {
//     z-index: 20;
//     background-color: #000;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     height: $navbar-height;
//     padding: 0 50px 0 10px;
//     box-shadow: 0 0 20px red;

//     .visuallyHidden {
//         position: absolute; 
//         overflow: hidden; 
//         clip: rect(0 0 0 0); 
//         height: 1px; width: 1px; 
//         margin: -1px; padding: 0; border: 0; 
//     }

//     .checkbox1:checked + .burger-menu > label > .hamburger > .bar1{
//         transform: rotate(45deg);
//         transform-origin: 5%;
//         width: 41px
//     }
//     .checkbox1:checked + .burger-menu > label > .hamburger > .bar2 {
//         transform: translateX(-40px);
//         background-color: transparent;
//     }
//     .checkbox1:checked + .burger-menu > label > .hamburger > .bar3 {
//         transform: translateX(40px);
//         background-color: transparent;
//     }
//     .checkbox1:checked + .burger-menu > label > .hamburger > .bar4 {
//         transform-origin: 5%;
//         transform: rotate(-45deg);
//         width: 41px;
//     }

//     .burger-menu {
//         display: none;
//         .hamburger {
//             margin: 0 auto;
//             // margin-top: 30px;
//             width: $hamburger-width;
//             height: 30px;
//             position: relative;
//         }
//         .hamburger .bar {
//             padding: 0;
//             width: $hamburger-width;
//             height: 4px;
//             background-color: white;
//             display: block;
//             border-radius: 4px;
//             transition: all 0.4s ease-in-out;
//             position: absolute; 
//         }
//         .bar1 {top: 0;}
//         .bar2, .bar3 {top: 13.5px;}
//         .bar3 {right: 0;}
//         .bar4 {bottom: 0;}
        
        
//     }

//     @media (max-width: 1199.98px) {
//         .burger-menu {
//             z-index: 1000;
//             height: $navbar-height;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }

//         .checkbox1:checked ~ .main {
//             transform: translateX(0);
//         }
        
//     }

//     .logo {
//         display: flex;
//         // gap: 20px;
//         height: $navbar-height;
//         &__logo {
//             margin: 0 20px 0 0;
//             height: $navbar-height;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             a {
//                 height: $navbar-height;
//             }
//             img {
//                 height: 80px;
//             }
//         }
//         &__videoicon {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             img {
//                 height: 30px;
//             }
//         }
//         @media (max-width: 1199.98px) {
//             display: flex;
//             // gap: 15px;
//             height: $navbar-height;
//             &__logo {
//                 margin: 0 15px 0 0;
//                 height: $navbar-height;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 a {
//                     height: $navbar-height;
//                     display: flex;
//                     align-items: center;
//                     justify-content: center;
//                 }
//                 img {
//                     height: 70px;
//                     // object-fit: contain;
//                     // object-position: 0 0;
//                 }
//             }
//             &__videoicon {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 img {
//                     height: 15px;
//                 }
//             }
//         }
//     }

//     .main {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // gap: 60px;
//         .main-nav {
//             margin: 0 60px 0 0;
//             font-size: 16px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             // gap: 20px;
//             &__item {
//                 margin: 0 20px 0 0;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 color: white;
//                 height: 100%;
//                 .link {
//                     padding: 5px;
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     &--active {
//                         padding: 10px;
//                         color: #FFC501;
//                         border: 2px solid #FFC501;
//                         border-radius: 10px;
//                     }
//                 }
//                 @media (max-width: 1199.98px) {
//                     margin: 0 0 20px 0;
//                 }
//             }

//             @media (max-width: 1199.98px) {
//                 flex-direction: column;
//                 font-size: 30px;
//                 // margin: 0 0 20px 0;
//                 margin: 0;
//             }
//         }

//         .order {
//             &__btn {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 background-color: transparent;
//                 font-size: 16px;
//                 color: #FFC501;
//                 border: none;
//                 @media (max-width: 1199.98px) {
//                     font-size: 30px;
//                 }
//             }
            
//         }

//         @media (max-width: 1199.98px) {
//             z-index: 999;
//             background-color: black;
//             box-shadow: 0 0 20px red;
//             position: fixed;
//             top: 0;
//             right: 0;
//             transform: translateX(105%);
//             transition: 400ms ease-in-out;
//             width: 100%;
//             max-width: 500px;
//             height: 100vh;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//         }
//     }

//     .modal-container {

//         &--hidden {
//             display: none;
//         }

//         position: fixed;
//         z-index: 33333;
//         width: 100vw;
//         height: 100vh;
//         left: 0;
//         top: 0;
//         background-color: rgba(0, 0, 0, 0.95);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .modal {

//             @media (max-width: 1199.98px) {
//                 width: 100% !important;
//                 height: 100%;
//                 justify-content: center;
//                 align-items: center;
//             }

//             display: grid;
//             justify-content: space-between;
//             grid-gap: 30px;
//             border-radius: 15px;
//             padding: 45px;
//             box-shadow: 0 0 35px red;
//             max-width: 100%;
//             background-color: #000;
//             overflow: hidden;
//             &__exit {
//                 display: flex;
//                 justify-content: flex-end;
//                 .exit-icon {
//                     cursor: pointer;
//                     width: 40px;
//                     height: 40px;
//                     // margin: 5px 15px;
//                 }
//             }
//             &__header {
//                 font-size: 40px;
//                 color: #FEC601;
//                 text-transform: uppercase;
//                 text-align: center;
//             }
//             &__form {
//                 display: grid;
//                 grid-template-columns: repeat(2, 1fr);
//                 // grid-template-rows: repeat(2, 1fr);
//                 grid-gap: 40px;
//                 .modal-input {
//                     padding: 10px 20px;
//                     background-color: transparent;
//                     color: rgb(139, 139, 139);
//                     font-size: 24px;
//                     border-bottom: 1px solid #F94B1C;
//                 }

//                 @media (max-width: 900px) {
//                     grid-template-columns: repeat(1, 1fr);
//                 }
//             }
//             .order-container {
//                 display: flex;
//                 justify-content: flex-end;
//                 &__btn {
//                     height: min-content;
//                     cursor: pointer;
//                     user-select: none;
//                     padding: 15px;
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     font-size: 30px;
//                     color: #FEC601;
//                     text-transform: uppercase;
//                     border: 1px solid #FEC601;
//                     border-radius: 10px;
//                 }
//             }
//         }
//     }

// }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 80px;

    @media (max-width: 1000px) {
        margin-top: 0;
    }

    .category {
        margin-bottom: 100px;
        width: 100%;
        max-width: 1100px;
        &__title {
            display: flex;
            margin-top: $navbar-height;
            // gap: 50px;
            margin-bottom: 50px;

            @media (max-width: 1000px) {
                justify-content: center;
                flex-direction: column;
            }

            .name {
                display: flex;
                margin-right: 50px;
                justify-content: flex-start;
                @media (max-width: 1000px) {
                    margin: 0;
                    justify-content: center;
                }
                p {
                    display: block;
                    font-size: 50px;
                    color: #FFC501;
                    padding: 20px 100px;
                    border: 2px solid #FFC501;
                    border-radius: 10px;

                    @media (max-width: 800px) {
                        font-size: 30px;
                        padding: 10px 30px;
                        text-align: center;
                    }

                    @media (max-width: 400px) {
                        font-size: 24px;
                        font-weight: 700;
                        padding: 10px 20px;
                        text-align: center;
                    }

                }
            }
            .logo {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    object-fit: cover;
                    width: auto;
                    height: 100px;
                }
                @media (max-width: 1000px) {
                    // display: none;
                    order: -1;
                    margin-bottom: 30px;
                    img {
                        width: 200px;
                        height: auto;
                    }
                }
            }
        }
        &__items {
            display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
            justify-items: center;
            @media (min-width: 1050px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media (min-width: 800px) and (max-width: 1050px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width: 550px) and (max-width: 800px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 550px) and (max-width: 550px) {
                grid-template-columns: repeat(1, 1fr);
            }

            justify-content: space-evenly;
            grid-gap: 50px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 200px;
                &__img {
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                &__name {
                    font-size: 20px;
                    border: 3px solid #FFC501;
                    color: #FFC501;
                    border-radius: 10px;
                    padding: 10px 15px;
                    text-align: center;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &__price {
                    font-family: 'Raleway ExtraBold', serif;
                    font-size: 14px;
                }
                &__link {
                    display: block;
                    color: #F94B1C;
                    font-size: 18px;
                }
            }
        }
    }
}

.footer {
    background-color: #FEC601;
    padding: 30px 30px 30px 10px;
    width: 100%;
    // height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-right: 40px;
        img{
            height: 80px;
        }
    }
    .footer-container {
        font-weight: 800;
        font-size: 18px;
        color: #000;
        display: grid;
        align-self: center;
        justify-content: center;
        grid-gap: 20px;
        line-height: 1.35;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
        justify-items: stretch;
        align-items: stretch;

        @media (max-width: 1199.98px) {
            font-size: 16px;
        }

        @media (max-width: 800px) {
            padding: 20px;
        }

    }
    .links {
        display: grid;
        grid-gap: 15px;
        grid-auto-flow: column;
        &__item {

        }
    }
}