@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import "../../source/scss/nullstyle";

@mixin Title {
  font-size: 40px;
  color: #fec601;
  font-family: "GothamPro";
  @include fluidFontSize(24px, 40px, 880px, 1280px, 35px);
}

@mixin H2 {
  font-size: 50px;
  color: #eb431f;
  font-family: "GothamPro";
  @include fluidFontSize(22px, 40px, 880px, 1280px, 30px);
}

@mixin mainText {
  font-size: 30px;
  line-height: 150%;
  font-family: "GothamPro Light";
  @include fluidFontSize(16px, 22px, 880px, 1280px, 18px);
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

body {
  background-color: #000;
  color: white;
  font-family: "GothamPro";
}

header {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18px;
  justify-content: space-between;
  white-space: nowrap;
  .logoContainer {
    width: 20%;
    .logo {
      width: 60%;
      height: 100%;
    }
    .youtube {
      width: 10%;
      height: 100%;
      margin-left: 30px;
    }
  }
  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    .general {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      margin-right: 100px;
    }
    .additional {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
    }
    .order {
      display: flex;
      flex-direction: row;
      margin-right: 40px;
      margin-left: 80px;
      color: #ffc501;
    }
    .menuItem {
      display: flex;
      flex-direction: row;
      margin: auto 10px;
    }
  }
}

.page {
  position: relative;
  margin-top: 120px;
  overflow: hidden;
  height: max-content;
  padding-bottom: 100px;
  .deliverContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    max-width: 1100px;
    margin: auto;
    &__titleBlock {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 80px;
      @media (max-width: 780px) {
        flex-direction: column;
        margin-bottom: 0px;
      }
      .title {
        @include Title;
        margin-bottom: 70px;
        width: max-content;
        text-align: center;
        border: 2px solid #fec601;
        padding: 20px 80px;
        border-radius: 10px;
        @media (max-width: 780px) {
          margin-bottom: 40px;
          margin-top: 40px;
        }
      }
      .imageContainer {
        display: flex;
        width: 200px;
        height: 200px;
        margin-right: 15%;
        @media (max-width: 780px) {
          order: -1;
          width: 150px;
          height: 150px;
          margin-right: 0px;
        }
        &__car {
        }
      }
    }
    &__delivers {
      display: flex;
      position: relative;
      flex-direction: column;
      .circle {
        position: absolute;
        top: 0px;
        left: calc(50% - 17.5px);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #cd3124;
        background: black;
        box-shadow: 0 0 20px red;
        z-index: 3;
        @media (max-width: 780px) {
          left: initial;
          right: -16.5px;
        }
      }
      .backgroundCard {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
      .deliverBlock {
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(50% + 1.5px);
        padding-bottom: 100px;
        border-right: 3px solid #cd3124;
        border-bottom: 3px solid #cd3124;
        padding-right: 5%;
        padding-bottom: 5%;
        @media (max-width: 780px) {
          width: 100%;
        }
        .iframeContainer {
          width: 100%;
          min-height: 350px;
          .youtube {
            width: 100%;
            min-height: 350px;
            object-fit: cover;
            @media (max-width: 780px) {
              min-height: 250px;
            }
          }
          @media (max-width: 780px) {
            min-height: 250px;
          }
        }
        &__circle {
          position: absolute;
          bottom: -18.5px;
          right: -18.5px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #cd3124;
        }
        &__title {
          @include H2;
          margin-bottom: 30px;
          @media (max-width: 780px) {
            margin-top: 30px;
          }
        }
        &__mainText {
          @include mainText;
        }
        &__image {
          width: 100%;
          // height: 350px;
          object-fit: cover;
        }
        &:nth-child(2n - 1) {
          align-self: flex-end;
          border: none;
          padding: 0;
          border-left: 3px solid #cd3124;
          border-bottom: 3px solid #cd3124;
          padding-left: 5%;
          padding-bottom: 5%;
          @media (max-width: 780px) {
            border-left: none;
            padding-right: 5%;
            padding-left: 0px;
            border-right: 3px solid #cd3124;
          }
          .deliverBlock__circle {
            bottom: -18.5px;
            left: -18.5px;
            width: 35px;
            height: 35px;
            @media (max-width: 780px) {
              left: initial;
              right: -18.5px;
            }
          }
        }
      }
    }
  }
}
.footer {
  background-color: #fec601;
  padding: 30px 30px 30px 10px;
  width: 100%;
  // height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-right: 40px;
    img {
      height: 80px;
    }
  }
  .footer-container {
    font-weight: 800;
    font-size: 18px;
    color: #000;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-gap: 20px;
    line-height: 1.35;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
    justify-items: stretch;
    align-items: stretch;

    @media (max-width: 1199.98px) {
      font-size: 16px;
    }

    @media (max-width: 800px) {
      padding: 20px;
    }
  }
  .links {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    &__item {
    }
  }
}
