@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #000;
  color: white;
  font-family: "GothamPro";
}

header {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18px;
  justify-content: space-between;
  white-space: nowrap;
}
header .logoContainer {
  width: 20%;
}
header .logoContainer .logo {
  width: 60%;
  height: 100%;
}
header .logoContainer .youtube {
  width: 10%;
  height: 100%;
  margin-left: 30px;
}
header .mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
header .mainContainer .general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-right: 100px;
}
header .mainContainer .additional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}
header .mainContainer .order {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-left: 80px;
  color: #ffc501;
}
header .mainContainer .menuItem {
  display: flex;
  flex-direction: row;
  margin: auto 10px;
}

.page {
  position: relative;
  margin-top: 120px;
  overflow: hidden;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 100px;
}
.page .deliverContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  max-width: 1100px;
  margin: auto;
}
.page .deliverContainer__titleBlock {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 780px) {
  .page .deliverContainer__titleBlock {
    flex-direction: column;
    margin-bottom: 0px;
  }
}
.page .deliverContainer__titleBlock .title {
  font-size: 40px;
  color: #fec601;
  font-family: "GothamPro";
  font-size: 24px;
  margin-bottom: 70px;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  border: 2px solid #fec601;
  padding: 20px 80px;
  border-radius: 10px;
}
@media (min-width: 880px) {
  .page .deliverContainer__titleBlock .title {
    font-size: 35px;
    font-size: calcFluidFontSize(24px, 40px, 880px, 1280px, px);
  }
}
@media (min-width: 1280px) {
  .page .deliverContainer__titleBlock .title {
    font-size: 40px;
  }
}
@media (max-width: 780px) {
  .page .deliverContainer__titleBlock .title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.page .deliverContainer__titleBlock .imageContainer {
  display: flex;
  width: 200px;
  height: 200px;
  margin-right: 15%;
}
@media (max-width: 780px) {
  .page .deliverContainer__titleBlock .imageContainer {
    order: -1;
    width: 150px;
    height: 150px;
    margin-right: 0px;
  }
}
.page .deliverContainer__delivers {
  display: flex;
  position: relative;
  flex-direction: column;
}
.page .deliverContainer__delivers .circle {
  position: absolute;
  top: 0px;
  left: calc(50% - 17.5px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #cd3124;
  background: black;
  box-shadow: 0 0 20px red;
  z-index: 3;
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .circle {
    left: initial;
    right: -16.5px;
  }
}
.page .deliverContainer__delivers .backgroundCard {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.page .deliverContainer__delivers .deliverBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(50% + 1.5px);
  padding-bottom: 100px;
  border-right: 3px solid #cd3124;
  border-bottom: 3px solid #cd3124;
  padding-right: 5%;
  padding-bottom: 5%;
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock {
    width: 100%;
  }
}
.page .deliverContainer__delivers .deliverBlock .iframeContainer {
  width: 100%;
  min-height: 350px;
}
.page .deliverContainer__delivers .deliverBlock .iframeContainer .youtube {
  width: 100%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock .iframeContainer .youtube {
    min-height: 250px;
  }
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock .iframeContainer {
    min-height: 250px;
  }
}
.page .deliverContainer__delivers .deliverBlock__circle {
  position: absolute;
  bottom: -18.5px;
  right: -18.5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #cd3124;
}
.page .deliverContainer__delivers .deliverBlock__title {
  font-size: 50px;
  color: #eb431f;
  font-family: "GothamPro";
  font-size: 22px;
  margin-bottom: 30px;
}
@media (min-width: 880px) {
  .page .deliverContainer__delivers .deliverBlock__title {
    font-size: 30px;
    font-size: calcFluidFontSize(22px, 40px, 880px, 1280px, px);
  }
}
@media (min-width: 1280px) {
  .page .deliverContainer__delivers .deliverBlock__title {
    font-size: 40px;
  }
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock__title {
    margin-top: 30px;
  }
}
.page .deliverContainer__delivers .deliverBlock__mainText {
  font-size: 30px;
  line-height: 150%;
  font-family: "GothamPro Light";
  font-size: 16px;
}
@media (min-width: 880px) {
  .page .deliverContainer__delivers .deliverBlock__mainText {
    font-size: 18px;
    font-size: calcFluidFontSize(16px, 22px, 880px, 1280px, px);
  }
}
@media (min-width: 1280px) {
  .page .deliverContainer__delivers .deliverBlock__mainText {
    font-size: 22px;
  }
}
.page .deliverContainer__delivers .deliverBlock__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .deliverContainer__delivers .deliverBlock:nth-child(2n-1) {
  align-self: flex-end;
  border: none;
  padding: 0;
  border-left: 3px solid #cd3124;
  border-bottom: 3px solid #cd3124;
  padding-left: 5%;
  padding-bottom: 5%;
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock:nth-child(2n-1) {
    border-left: none;
    padding-right: 5%;
    padding-left: 0px;
    border-right: 3px solid #cd3124;
  }
}
.page .deliverContainer__delivers .deliverBlock:nth-child(2n-1) .deliverBlock__circle {
  bottom: -18.5px;
  left: -18.5px;
  width: 35px;
  height: 35px;
}
@media (max-width: 780px) {
  .page .deliverContainer__delivers .deliverBlock:nth-child(2n-1) .deliverBlock__circle {
    left: initial;
    right: -18.5px;
  }
}

.footer {
  background-color: #fec601;
  padding: 30px 30px 30px 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.footer .logo {
  margin-right: 40px;
}
.footer .logo img {
  height: 80px;
}
.footer .footer-container {
  font-weight: 800;
  font-size: 18px;
  color: #000;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-gap: 20px;
  line-height: 1.35;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
  justify-items: stretch;
  align-items: stretch;
}
@media (max-width: 1199.98px) {
  .footer .footer-container {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .footer .footer-container {
    padding: 20px;
  }
}
.footer .links {
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
}/*# sourceMappingURL=style.css.map */