@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import "../../source/scss/nullstyle";

@mixin Title {
  font-size: 40px;
  color: #fec601;
  font-family: "GothamPro";
  @include fluidFontSize(24px, 40px, 880px, 1280px, 35px);
}

@mixin H2 {
  font-size: 50px;
  color: #eb431f;
  font-family: "GothamPro";
  @include fluidFontSize(22px, 40px, 880px, 1280px, 30px);
}

@mixin mainText {
  font-size: 30px;
  line-height: 150%;
  font-family: "GothamPro Light";
  @include fluidFontSize(16px, 22px, 880px, 1280px, 18px);
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

$navbar-height: 80px;
$hamburger-width: 30px;

body {
  background-color: #000;
  color: white;
  font-family: "GothamPro";
}
header {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18px;
  justify-content: space-between;
  white-space: nowrap;
  .logoContainer {
    width: 20%;
    .logo {
      width: 60%;
      height: 100%;
    }
    .youtube {
      width: 10%;
      height: 100%;
      margin-left: 30px;
    }
  }
  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    .general {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
      margin-right: 100px;
    }
    .additional {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
    }
    .order {
      display: flex;
      flex-direction: row;
      margin-right: 40px;
      margin-left: 80px;
      color: #ffc501;
    }
    .menuItem {
      display: flex;
      flex-direction: row;
      margin: auto 10px;
    }
  }
}

.page {
  color: white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: calc(100% + 100px);
  margin-top: 120px;
  height: max-content;
  .advantages {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-top: 100px;
    @media (max-width: 1100px) {
      margin-top: 30px;
    }
    // margin: 0 8.5%;
    &__titleBlock {
      margin-bottom: 180px;
      @media (max-width: 880px) {
        margin-bottom: 60px;
      }
      .titleTextBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        &__container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: max-content;
          @media (max-width: 880px) {
            width: 100%;
          }
          &__title {
            @include Title;
            display: flex;
            margin-bottom: 20px;
            text-align: center;
            width: max-content;
            text-align: center;
            border: 2px solid #fec601;
            padding: 20px 70px;
            border-radius: 20px;
            @media (max-width: 880px) {
            }
          }
          &__subTitle {
            @include mainText;
            width: 80%;
            font-size: 21px;
            text-align: center;
            @media (max-width: 880px) {
            }
          }
        }

        &__imgBlock {
          display: flex;
          position: absolute;
          justify-content: space-between;
          width: 40vw;
          top: -55px;
          right: 0;
          @media (max-width: 1100px) {
            top: -15px;
            width: 30vw;
          }
          @media (max-width: 880px) {
            position: initial;
            margin-top: 30px;
            align-self: center;
            justify-self: center;
            width: 50vw;
            order: -1;
            margin-bottom: 60px;
          }
          .backImage {
            width: 12vw;
            height: 12vw;
            @media (max-width: 1100px) {
              width: 31%;
              height: 31%;
            }
          }
        }
      }
      .titleImageBlock {
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      .advantageBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 80px;
        @media (max-width: 880px) {
          flex-direction: column;
          margin-bottom: 60px;
        }
        &:nth-child(2) {
          .advantageBlock__imageContainer__back {
            width: 250px;
            height: 250px;
            left: 60px;
            bottom: -70px;
          }
        }
        &:nth-child(2n) {
          .advantageBlock__imageContainer {
            order: -1;
          }
        }
        &__textContainer {
          width: 47.5%;

          @media (max-width: 880px) {
            width: 100%;
            order: -1;
          }
          &__title {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            align-items: center;
            @media (max-width: 880px) {
              margin-bottom: 20px;
            }
            span {
              @include H2;
            }
            &__img {
              width: 7vw;
              height: 7vw;
              margin-left: 30px;
            }
          }
          &__text {
            @include mainText;
            @media (max-width: 880px) {
              margin-bottom: 20px;
            }
          }
        }
        &__imageContainer {
          width: 47.5%;
          max-height: 400px;
          @media (max-width: 880px) {
            width: 100%;
            height: 45vw;
          }
          position: relative;
          &__back {
            position: absolute;
            width: 180px;
            height: 180px;
            object-fit: cover;
            bottom: -15px;
            left: 30px;
          }
          &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .youtube {
      width: 100%;
      height: 45vw;
      margin-top: 100px;
      margin-bottom: 100px;
      @media (max-width: 880px) {
        margin-top: 0px;
      }
    }
  }
}

.footer {
  background-color: #fec601;
  padding: 30px 30px 30px 10px;
  width: 100%;
  // height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-right: 40px;
    img {
      height: 80px;
    }
  }
  .footer-container {
    font-weight: 800;
    font-size: 18px;
    color: #000;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-gap: 20px;
    line-height: 1.35;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(270px, max-content));
    justify-items: stretch;
    align-items: stretch;

    @media (max-width: 1199.98px) {
      font-size: 16px;
    }

    @media (max-width: 800px) {
      padding: 20px;
    }
  }
  .links {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    &__item {
    }
  }
}
