@font-face {
  font-family: "GothamPro";
  src: url("/fonts/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Light";
  src: url("/fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro Black";
  src: url("/fonts/GothamPro_Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

body {
  -webkit-tap-highlight-color: transparent;
}

// body::-webkit-scrollbar {
//   width: 7px;
//   background-color: transparent;
// }

// body::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// body::-webkit-scrollbar-thumb {
//   // box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
//   border: 0.5px solid #fec601;
//   border-radius: 4px;
// }

$navbar-height: 80px;
$hamburger-width: 30px;

.lightBackground:nth-child(1) {
  position: fixed;
  bottom: -600px;
  left: -900px;
  width: 1400px;
  height: 1400px;
  filter: brightness(30%);
  z-index: -1000;
}
.lightBackground:nth-child(2) {
  position: fixed;
  top: -200px;
  right: -400px;
  width: 700px;
  height: 700px;
  filter: brightness(30%);
  transform: rotate(220deg);
  z-index: -1000;
}
.lightBackground:nth-child(3) {
  position: fixed;
  top: 150px;
  right: 50px;
  width: 700px;
  height: 700px;
  filter: brightness(30%);
  transform: rotate(220deg);
  z-index: -1000;
}

.navbar {
  z-index: 20;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: $navbar-height;
  padding: 0 50px 0 10px;
  box-shadow: 0 0 20px red;

  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .checkbox1:checked + .burger-menu > label > .hamburger > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px;
  }
  .checkbox1:checked + .burger-menu > label > .hamburger > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
  }
  .checkbox1:checked + .burger-menu > label > .hamburger > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
  }
  .checkbox1:checked + .burger-menu > label > .hamburger > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
  }

  .burger-menu {
    display: none;
    .hamburger {
      margin: 0 auto;
      // margin-top: 30px;
      width: $hamburger-width;
      height: 30px;
      position: relative;
    }
    .hamburger .bar {
      padding: 0;
      width: $hamburger-width;
      height: 4px;
      background-color: white;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute;
    }
    .bar1 {
      top: 0;
    }
    .bar2,
    .bar3 {
      top: 13.5px;
    }
    .bar3 {
      right: 0;
    }
    .bar4 {
      bottom: 0;
    }
  }

  @media (max-width: 1199.98px) {
    .burger-menu {
      z-index: 1000;
      height: $navbar-height;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .checkbox1:checked ~ .main {
      transform: translateX(0);
    }
  }

  .logo {
    display: flex;
    // gap: 20px;
    height: $navbar-height;
    &__logo {
      margin: 0 20px 0 0;
      height: $navbar-height;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        height: $navbar-height;
      }
      img {
        height: 80px;
      }
    }
    &__videoicon {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 30px;
      }
    }
    @media (max-width: 1199.98px) {
      display: flex;
      // gap: 15px;
      height: $navbar-height;
      &__logo {
        margin: 0 15px 0 0;
        height: $navbar-height;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          height: $navbar-height;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          height: 70px;
          // object-fit: contain;
          // object-position: 0 0;
        }
      }
      &__videoicon {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 15px;
        }
      }
    }
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // gap: 60px;
    .main-nav {
      margin: 0 60px 0 0;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      // gap: 20px;
      &__item {
        margin: 0 20px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        .link {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          &--active {
            padding: 10px;
            color: #ffc501;
            border: 2px solid #ffc501;
            border-radius: 10px;
          }
        }
        @media (max-width: 1199.98px) {
          margin: 0 0 20px 0;
        }
      }

      @media (min-width: 1199.98px) {
        .close-categories {
          display: none;
        }

        .catalog-more {
          display: none;
        }
        .catalog-container {
          position: relative;
        }
        .catalog-dropdown {
          position: absolute;
          display: none;
          background-color: black;
          padding: 15px;
          // bottom: -650%;
          border: 2px solid #fec601;
          border-radius: 10px;
          left: 0;

          &__link {
            font-size: 16px;
            text-decoration: none;
            color: white;
            margin: 10px;
          }
        }
        .catalog-container:hover .catalog-dropdown {
          display: flex;
          flex-direction: column;
        }
      }

      @media (max-width: 1199.98px) {
        .catalog-more {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          margin-left: 10px;
          border-radius: 10px;
          border: 2px solid #fec601;
          color: #fec601;
        }

        .catalog-container {
          height: min-content;
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 20px;
          .main-nav__item {
            margin: 0;
          }
        }
        .catalog-dropdown {
          display: none;

          .close-categories {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            margin-top: 25px;
            color: #f94b1c;
          }

          &__link {
            width: 100%;
            font-size: 20px;
            text-decoration: none;
            color: white;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
          }

          &--active {
            padding: 30px 50px;
            z-index: 20000000;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
          }
        }
      }

      @media (max-width: 1199.98px) {
        flex-direction: column;
        font-size: 30px;
        // margin: 0 0 20px 0;
        margin: 0;
      }
    }

    .order {
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 16px;
        color: #ffc501;
        border: none;
        @media (max-width: 1199.98px) {
          font-size: 30px;
        }
      }
    }

    @media (max-width: 1199.98px) {
      z-index: 999;
      background-color: black;
      box-shadow: 0 0 20px red;
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(105%);
      transition: 400ms ease-in-out;
      width: 100%;
      max-width: 500px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .modal-container {
    &--hidden {
      display: none;
    }

    position: fixed;
    z-index: 33333;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      @media (max-width: 1199.98px) {
        width: 100% !important;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      display: grid;
      justify-content: space-between;
      grid-gap: 30px;
      border-radius: 15px;
      padding: 45px;
      box-shadow: 0 0 35px red;
      max-width: 100%;
      background-color: #000;
      //   overflow: hidden;
      overflow-y: scroll;
      &__exit {
        display: flex;
        justify-content: flex-end;
        .exit-icon {
          cursor: pointer;
          width: 40px;
          height: 40px;
          // margin: 5px 15px;
        }
      }
      &__header {
        font-size: 40px;

        @media (max-width: 600px) {
          font-size: 25px;
        }

        color: #fec601;
        text-transform: uppercase;
        text-align: center;
      }
      &__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-gap: 40px;
        .modal-input {
          padding: 10px 20px;
          background-color: transparent;
          color: rgb(139, 139, 139);
          font-size: 24px;
          border-bottom: 1px solid #f94b1c;

          @media (max-width: 600px) {
            font-size: 18px;
          }
        }

        @media (max-width: 900px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .order-container {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 600px) {
          justify-content: center;
          font-size: 25px;
        }

        &__btn {
          height: min-content;
          cursor: pointer;
          user-select: none;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          color: #fec601;
          text-transform: uppercase;
          border: 1px solid #fec601;
          border-radius: 10px;
        }
      }
    }
  }
}
